@font-face {
    font-family: 'calendas_plusregular';
    src: url('../fonts/calendas_plus.woff2') format('woff2'),
         url('../fonts/calendas_plus.woff') format('woff');
}

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-blue-light: #2385D7;
    --color-blue: #113772;
    --color-seagreen: #01A3A7;
    --color-gray: #666;
    --font-serif: 'calendas_plusregular';
    --font-sans: 'Roboto', sans-serif;
    --font-cursive: 'Libre Caslon Text', serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  font-family: var(--font-serif);
  line-height: 1.5;
  font-size: 14px;
  max-width: 40rem;
  margin: 0 0;
  padding: 2rem;
  color: gray;
}

/*
img {
  max-width: 100%;
  display: block;
}
*/
.wrapper {
  max-width: 100%;
}

.component img {
  max-width: initial;
}

.component__img {
  border: 2px solid #ccc;
  overflow-x: auto;
}

.component__code {
  border: 2px solid #ccc;
}

h1 {
  color: black;
  font-size: xx-large;
}


.header__nav-list {
  list-style-type: none;
  font-family: var(--font-sans);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-blue);
}

.header__nav-list a {
  list-style-type: none;
  font-family: var(--font-sans);
  font-size: 1.5rem;
  color: var(--color-blue);
  text-decoration: none;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

h2 {
  color: black;
  font-size: x-large;
}

.defaults {
  padding-top: 50px;
}

h3 {
  color: var(--color-blue);
  font-family: var(--font-sans);
  font-size: x-large;
}

.typography {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
}

.fcnl {  
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  background: white;
  color: #213A70;
  list-style-type: none;
}

.fcnl li:nth-child(1){
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.fcnl li:nth-child(2) {
  font-family: Georgia;
  font-size: 48px;
  font-weight: lighter;
}

.fcnl li:nth-child(3){
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  font-family: Georgia;
  font-size: 24px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.body__text--large > p{
    font-size: 28px;
    line-height: 150%;
    font-weight: normal;
    width: 410px;
    color: #666;
}

.body__text--small > p{
  font-size: 20px;
  line-height: 150%;
  font-weight: normal;
  width: 300px;
  color: #999;
}

.hero__title > p{
  background: #113772;
  padding: 10px 15px 10px 15px;
  font-size: 58px;
  color: white;
}

.hero__subtitle > p{
  background: 	#213a70;
  font-family: Roboto;
  font-weight: medium;
  line-height: 125%;
  font-size: 28px;
  color: white;
}

.text__links--featured > p{
  font-size: 30px;
  font-weight: medium;
  line-height: 125%;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.text__links--featured  a{
  font-family: Roboto;
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-column-gap: 100px;
}

.button--outlined {
  display: block;
  background: #fff;
  color: #7DB8F2;
  font-family: Roboto;
  font-size: 14px;
  font-weight: medium;
  text-transform: uppercase;
  padding: 15px 60px;
  border-radius: 4px;
  border: 2px solid	#7DB8F2;
  margin: 0;
  cursor: pointer;
}

.button--solidblue {
  display: block;
  color: white;
  background: #2486d8;
  font-family: Roboto;
  font-size: 35px;
  font-weight: medium;
  line-height: .9rem;
  padding: 40px 60px;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}

.button--seagreen {
  display: block;
  color: white;
  background: var(--color-seagreen);
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  line-height: .7rem;
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 0px 0px 8px 8px;
  border: 0;
  cursor: pointer;
}

.button--gradient {
  display: block;
  background-image: linear-gradient(to bottom right, #2486d8,	#00a3a7);
  color: white;
  font-family: Arial;
  font-size: 25px;
  font-weight: medium;
  line-height: .9rem;
  text-transform: uppercase;
  padding: 20px 64px;
  border: 0;
  cursor: pointer;
}

.button--search {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  background: #f0f0f0;
  font-family: Roboto;
  font-size: 20px;
  text-transform: capitalize;
  font-style: italic;
  color: black;
  line-height: .9rem;
  border: 0;
  cursor: pointer;
  list-style-type: none;
  padding: 20px;
}

.button--search li:nth-child(2){
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}

.molecules--small {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 75px;
  margin: 20px;
}

.promo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url("https://fcnl-production.s3.amazonaws.com/resource_grids/1/shareable_image/large.jpg?1600373832");
  height: 351px;
  width: 509px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  border-radius: 2px;
  font-size: 200%;
  font: var(--font-serif);
  background-size: cover;
}

.promo img {
  object-fit: cover;
  width: 100%;
  max-height: 100%
}

.promo__text {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: -1;
  font-size: 1.3rem;
  font-family: var(--font-serif);
  align-items: end;
  position: relative;
}

.promo__text > p {
  color: white;
  margin: 54px 0px 36px 0px;
}

.promo button {
  display: block;
  color: white;
  background: #2486d8;
  font-family: Roboto;
  font-weight: medium;
  font-size: .7rem;
  line-height: .9rem;
  padding: 15px;
  border: 0;
  border-radius: 4px 4px 0px 0px;
  cursor: pointer;
  position: absolute;
  bottom: -30px;
}

.promo a {
  color: white;
  text-decoration: none;
  font-family: var(--font-sans);
  font-size: small;
}

.card--who {
  background: white;
  border: 1px solid #ccc;
  height: 692px;
  width: 482px;
  padding-bottom: 0;
  border-radius: 5px;
  font-size: 200%;
  font: var(--font-serif);
}

.card--who img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  padding-bottom: 75px;
}

.card--who h1 {
  font-weight: lighter;
  font-size: 44px;
  color: #213A70;
  line-height: .8rem;
  text-align: center;
}

.card--who > p{
  font-size: 24px;
  line-height: 150%;
  font-weight: normal;
  padding: 0px 60px 0px 60px;
  color: #999;
  text-align: center;
}

.card__link > a{
  display: block;
  font-family: Roboto;
  font-weight: bold;
  font-size: 22px;
  color: var(--color-blue-light);
  text-align: center;
  text-decoration: none;
}

.box--update {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 40px .4fr .5fr 1fr auto;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  font-size: 200%;
  font-family: var(--font-serif);
  list-style-type: none;
  padding-left: 18px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px #e6e6e6;
}

.box--update .button--seagreen{
  font-size: .8rem;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

.box--update img {
  object-fit: cover;
  width: 100%;
  max-height: 100%
}

.box--update li:nth-child(1){
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.box--update li:nth-child(2){
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  padding-right: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  cursor: pointer;
}

.box--update li:nth-child(2) a{
  font-family: Roboto;
  font-weight: lighter;
  font-size: 38px;
  text-decoration: none;
  color: #4085d1;
  padding-bottom: 0px;
  margin-bottom: 0px;
}


.box--update li:nth-child(3){
  grid-row: 3 / 5;
  grid-column: 1 / 2;
  font-size: 28px;
  line-height: 150%;
  font-weight: normal;
  width: 410px;
  color: #666;
}

.box--update li:nth-child(3) p{
  padding: 0;
  margin: 0;
}

.box--update li:nth-child(4){
  grid-row: 5 / 6;
  grid-column: 1 / 2;
  font-family: Roboto;
  font-size: .8rem;
  line-height: .5rem;
  color: ccc;
}

.box--update li:nth-child(4) a{
  text-decoration: none;
  color: #4085d1;
  font-weight: bold;
}

.box--update li:nth-child(5){
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column: 2 / 3;
  padding: 0;
  margin: 0;
}

.molecules--large {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.hero__contents {
  display: grid;
  grid-template-columns: 600px 2fr 600px 1fr;
  grid-template-rows: 140px 350px 140px;
  background: #113772;
  color: white;
}


.hero__contents li {
  list-style-type: none;
}

.hero__contents li:nth-child(1){
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.hero__contents li:nth-child(1) h2{
  padding: 10px 15px 10px 15px;
  font-size: 58px;
  background: #113772;
  color: white;
  padding-left: 50px;
}

.hero__contents li:nth-child(2){
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  padding-top: 30px;
  padding-left: 100px;
}

.hero__contents li:nth-child(2) p{
  font-family: Roboto;
  font-weight: medium;
  line-height: 125%;
  font-size: 30px;
  background: #113772;
  color: white;
  padding-right: 60px;
  padding-bottom: 50px;
  margin-bottom: 0px;
}

/**.hero__contents li:nth-child(3){
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding-left: 60px;
}**/

.hero__contents li:nth-child(3){
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-image: linear-gradient(to top right, #2486d8,	#00a3a7);
  border-radius: 8px;
  padding-bottom: 50px;
  margin-left: 200px;
}

.hero__contents li:nth-child(3) h6{
  font-family: 'Libre Caslon Text';
  font-style: italic;
  font-size: 24px;
  padding-left: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.hero__contents li:nth-child(3) p{
  font-family: var(--font-sans);
  font-weight: medium;
  line-height: 125%;
  font-size: 38px;
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 0px;
}

.hero__contents li:nth-child(3) > a{
  display: block;
  font-family: Roboto;
  font-size: 22px;
  color: white;
  text-decoration: none;
  padding-left: 50px;
}

.hero__contents li:nth-child(2) > button{
  display: block;
  color: white;
  background: #2485d7;
  font-family: Roboto;
  font-size: 30px;
  font-weight: medium;
  line-height: .9rem;
  padding: 30px 45px 30px 45px;
  border-radius: 8px;
  margin-top: 0px;
  cursor: pointer;
}
.events__contents {
  display: grid;
  grid-template-columns: .8fr 1.2fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background: #2083d6;
  color: white;
}
.events__contents li {
  list-style-type: none;
}

.events__contents li:nth-child(1){
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  background: #0a2754;
  color: white;
  padding: 20px;
  padding-right: 75px;
  margin-right: 10px;
  border-radius: 3px;
}  

.events__contents /*li:nth-child(1)*/ h3{
  /*background: #0a2754;*/
  color: white;
  font-family: Roboto;
  font-size: 28px;
  font-weight: lighter;
  line-height: .9rem;
}

.events__contents li:nth-child(1) p{
  background: #0a2754;
  color: white;
  font-size: 26px;
  line-height: 150%;
  font-weight: normal;
}

.events__contents li:nth-child(1) a{
  background: #0a2754;
  color: #4f9eed;
  font-family: Roboto;
  font-weight: bolder;
  line-height: 150%;
  font-weight: normal;
}

.events__contents li:nth-child(2){
  grid-column: 3 / 4;
  grid-row: 1 / 2;
} 

.events__contents li:nth-child(2) h4{
  color: white;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  line-height: .7rem;
  text-transform: uppercase;
  padding-top: 60px;
  padding-bottom: 20px;
  border-bottom: 2px solid lightblue;
  margin-left: 40px;
  margin-bottom: 20px;
} 

.events__contents li:nth-child(3){
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  padding-bottom: 0px;
  margin-left: 40px;
  margin-bottom: 0px;
  font-family: Roboto;
  font-weight: bold;
}
.events__contents li:nth-child(3) h3{
  padding-top: 0px;
  margin-top: 2px;
  margin-bottom: 0px;
} 

.events__contents li:nth-child(4){
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  padding-bottom: 0px;
  margin-left: 40px;
  margin-bottom: 0px;
  font-family: Roboto;
  font-weight: bold;
} 

.events__contents li:nth-child(4) h3{
  padding-top: 0px;
  margin-top: 2px;
  margin-bottom: 0px;
} 

.events__contents li:nth-child(5){
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  padding-bottom: 0px;
  margin-left: 40px;
  margin-bottom: 0px;
  font-family: Roboto;
  font-weight: bold;
} 

.events__contents li:nth-child(5) h3{
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 0px;
} 

.organisms {
  display: grid;
  grid-template-rows: 0.1 0.25fr 1fr 0.25fr 0.25fr 2fr;
}

.container {
  max-width: 110rem;
  margin: auto; /* to center item w/ width */
  padding: 0, 1rem;
}

.site-name {
}

.nav-bar {
  /*background: var(--gray-light);*/
}

.nav-bar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  padding-left: 400px;
}

.nav-list li:nth-child(1) {
}

.nav-list li h3 {
  margin-bottom: 0;
}

.nav-list li p {
  font-family: 'Libre Caslon Text';
  font-style: italic;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0;
  margin-top: 0;
  color: #999;
}

.nav-list .fa-angle-down {
  padding-right: 30px;
  padding-top: 50px;
}

.nav-list li:nth-child(2) p{
  padding-right: 20px;
  margin-right: 10px;
}

.verticalline {
  border-left: thin solid #999;
  border-right: thin solid #999;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: -1px;
}

.nav-list li:nth-child(4) {
}

.nav-list li:nth-child(5) {
  padding-right: 50px;
}

.nav-list li:nth-child(6){
  background: #f0f0f0;
}

.nav-list li:nth-child(6) a {
  color: white;
  font-family: Arial;
  font-size: 25px;
  font-weight: medium;
  line-height: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}
 
.nav-list li:nth-child(6) p {
  font-family: var(--font-sans);
  padding-left: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.nav-list li:nth-child(6) > i {
  border: 2px solid purple;
}


.nav-list a{
  text-decoration: none;
}

.calls {
  display: grid;
  grid-template-columns: 0.6fr repeat(4, 1fr) 0.6fr;
  grid-template-rows: 1fr;
  background: var(--color-blue);
}

.calls li {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 35px;
}

.calls h3 {
  font-family: Roboto;
  line-height: .5rem;
  font-size: 28px;
  font-weight: lighter;
  color: white;
  padding: 24px;
  padding-bottom: 0px;
}

.calls p:not(.reCAPTCHA) {
  font-family: var(--font-serif);
  font-size: 24px;
  color: white;
  padding-top: 0px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 0px;
}

.reCAPTCHA {
  font-family: var(--font-sans);
  color: #8E9DB7;
  padding-left: 24px;
  padding-right: 44px;
  border-top: 2px #8E9DB7;
}

.calls .button--outlined {
  display: block;
  background: var(--color-blue);
  color: var(--color-blue-light);
  font-family: Roboto;
  font-size: 14px;
  font-weight: medium;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 4px;
  border: 2px solid	#7DB8F2;
  margin: 15px;
  cursor: pointer;
}

.calls li:nth-child(1) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.calls li:nth-child(2) {
  grid-column: 3 / 4;
}

.calls li:nth-child(3) {
  grid-column: 4 / 5;
}

.calls li:nth-child(4) {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

.social-media {
  display: inline-block;
}

.calls i {
  color: var(--color-blue-light);
  padding: 8px;
  border: 2px var(--color-blue-light);
  border-radius: 50%;
}

.footerb {
  display: grid;
  grid-template-columns: 1 fr 1fr 2.5fr 1fr;
}



.container--about {
  border: 5px solid hotpink;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: .3fr 2fr .5fr;
  background: #f8f3e9;
}

.container--about > h2{
  font-family: Roboto;
  font-size: 48px;
  font-weight: lighter;
  color: #999;
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.container--about > ul {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  list-style-type: none;
}

.about__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
