/** img {}
    max-width: 100%; 

    figure {
        1px solid red;
    }

.figcaption {
    1px solid blue;
    position: relative;
    bottom: 0
} **/

@font-face {
    font-family: Calendas;
    src: url(fonts/Calendas_Plus.otf);
  }

html {
  --color-black: #000;
  --color-white: #fff;
  --color-blue-light: #2385D7;
  --color-blue: #113772;
  --font-serif: 'Calendas', serif;
  --font-sans: 'Helvetica', sans-serif;
}
  
body {
  box-sizing: border-box;
  font-family: var(--font-serif);
  line-height: 1.5;
  max-width: 40rem;
  margin: auto;
  padding: 2rem;
  color: white;
}

h1, h2 {
  color: black;
}

a {
  color: white;
  text-decoration: none;
  font-family: var(--font-sans);
  font-size: small;
}

.promo  {
  display: grid;
  background-image: url("https://fcnl-production.s3.amazonaws.com/resource_grids/1/shareable_image/large.jpg?1600373832");
  *height: 400px;
  width: 550px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 200%;
  font: var(--font-serif);
  }

.promo__text {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: -1;
  font-size: x-large;
  font-family: var(--font-serif);
  align-items: end;
  }

.share {
  background: var(--color-blue-light);
  font-family: var(--font-sans);
  font-size: small;
  padding: 20px;
  color: white;
  text-align: center;
  box-shadow: none;
} 

img { 
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
} 