<img
srcset="../img/logo--fcnl@2x.jpg 2x"
src="../img/logo--fcnl@2x.jpg"
alt="FCNL logo" 
/>

<!--<ul class="wordmark--header">
<li>img</li>
<li>Friends Committee</li> 
<li>on National Legislation</li>
</ul> a different way to try this 
<li>
<img
srcset="../img/logo--fcnl@2x.jpg 2x"
src="../img/logo--fcnl@2x.jpg"
alt="FCNL logo" 
/>
</li>
<li>Friends Committee</li>
<li>On National Legislation</li>
</ul>
</section>
-->

.container {
    max-width: 110rem;
    margin: auto; /** to center item w/ width **/
    padding: 0px, 1rem;
  }

  /*.row3 .promo {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-left: 0px;
  margin-top: 30px;
  background-size: cover;
}

.row3 .update--news {
  grid-column: 3 / 4;
}*/