 <!--image fncl currently using
                    <picture class="Hero-background js-background-image" aria-hidden="true" role="presentation"
                    [if IE 9]><video style="display: none;"> <![endif
                    <source srcset="https://fcnl-production.s3.amazonaws.com/image/1286/sixteen_nine_large.jpg?1573999539" media="(min-width: 800px)">
                    [if IE 9]></video><![endif]
                    <img srcset="https://fcnl-production.s3.amazonaws.com/image/1286/medium.jpg?1573999539" alt="" aria-hidden="true" role="presentation">
                    </picture>-->
                    <!--end image FCNL currently usingxxx-->