<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Components | FCNL</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="../css/normalize.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a1e57ac401.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Web Components for FCNL Study: fcnl.org</h1>
    <h2>Typography Defaults</h2>
    <div class="typography">
        <article class="wordmark">
            <h3>Wordmark</h3>
            <img
            srcset="../img/wordmark@2x.png 2x"
            src="../img/wordmark@2x.png"
            alt="wordmark" 
            />
            <ul class="fcnl">
                <li><img src="https://images.app.goo.gl/d9UT5moYPzB2gJsEA" alt="logo" />
                </li>
                <li>Friends Committee</li>
                <li>On National Legislation</li>
            </ul>
        </article>
        <article class="hero__title">
            <h3>Hero Title</h3>
            <img
            srcset="../img/hero__title@2x.png 2x"
            src="../img/hero__title@2x.png"
            alt="hero title" 
            />
            <p>Count Every Vote</p>
        </article> <!--end hero title article-->
        <article class="hero__subtitle">
            <h3>Hero Subtitle</h3>
            <img
            srcset="../img/hero__subtitle@2x.png 2x"
            src="../img/hero__subtitle@2x.png"
            alt="hero subtitle" 
            />
            <p>Working for change today requires a ferocity and tenacity that colors the idea of love with the full range of its meanings. It is not passive, not necessarily nice or pretty. It is fierce.</p>
        </article> <!--end hero subtitle article-->
        <article class="body__text--large">
            <h3>Body Text - Large</h3>
            <img
            srcset="../img/body__text-var1@2x.png 2x"
            src="../img/body__text-var1@2x.png"
            alt="body text var1" 
            />
            <p>We, the people, have spoken. It is clear that Joe Biden, even with final votes still being counted, has won a majority of the popular vote and over 270 electoral votes, securing his election as our 46th president.</p>
        </article> <!--end body__text--large article-->
        <article class="body__text--small">
            <h3>Body Text - Small</h3>
            <img
            srcset="../img/body__text--small@2x.png 2x"
            src="../img/body__text--small@2x.png"
            alt="body text small" 
            />
            <p>Join us on Nov. 13 for the Annual Advocacy Teams Summit – this year held virtually! We will look at the incredible work we have accomplished together, build our community, and plan for an impactful 2021 after what is sure to be a consequential election year.</p>
        </article> <!--end body__text--small article-->
        <article class="text__links--featured">
            <h3>Featured Text Links</h3>
            <img
            srcset="../img/large-link2@2x.png 2x"
            src="../img/large-link2@2x.png"
            alt="large link" 
            />
            <h3>in various colors</h3>
            <p><a href="!#">Thursdays with Friends <i class="fas fa-angle-right"></i></a></p>
        </article> <!--end text links article-->
    </div><!--end typography div-->
    <h2>Buttons</h2>
    <div class="buttons">
        <article>
            <h3>Outlined Button</h3>
            <img
            srcset="../img/button--news@2x.png 2x"
            src="../img/button--news@2x.png"
            alt="outlined button" />
            <button class="button--outlined">
            <p>All News</p>
            </button>
        </article>
        <article>
            <h3>Solid Blue Button</h3>
            <img
            srcset="../img/button--solidblue@2x.png 2x"
            src="../img/button--solidblue@2x.png"
            alt="blue button" />
            <button class="button--solidblue">
            <p>More</p>
            </button>
        </article>
        <article>
            <h3>Seagreen Button</h3>
            <img
            srcset="../img/button--seagreen@2x.png 2x"
            src="../img/button--seagreen@2x.png"
            alt="seagreen button" />
            <button class="button--seagreen">
            <p>update</p>
            </button>
        </article>
        <article>
            <h3>Gradient Button</h3>
            <img
            srcset="../img/button--donate@2x.png 2x"
            src="../img/button--donate@2x.png"
            alt="gradient button" />
            <button class="button--gradient">
            <p>donate <i class="fas fa-arrow-right"></i></p>
            </button>
        </article>
        <article>
            <h3>Search Button</h3>
            <img
            srcset="../img/button--search@2x.png 2x"
            src="../img/button--search@2x.png"
            alt="gradient button" 
            />
            <ul class="button--search">
                <li>search</li> 
                <li><i class="fa fa-search" aria-hidden="true"></i></li>
            </ul>
        </article>
    </div><!--end buttons div-->
    <h2>Small Molecules</h2>
        <div class="molecules--small">
        <article>
        <h3>Promo Molecule</h3>
            <img
            srcset="../img/promo--shareable@2x.png 2x"
            src="../img/promo--shareable@2x.png"
            alt="promo" 
            />
            <p>The source image has changed!</p>
            <figure class="promo">
                <div class="promo__text">
                <p>Learn to Virtually Lobby in 30 Minutes
                | <a href="!#">Register Now &#62; </a></p>
                <button class="share">SHARE &emsp; <i class="fab fa-twitter"></i></button>
                </div>
            </figure>
        </article>
        <article>
            <h3>Card Molecule</h3>
            <img
            srcset="../img/card--lobbyists@2x.png 2x"
            src="../img/card--lobbyists@2x.png"
            alt="lobbyists card" 
            />
            <div class="card--lobbyists">
                <img src="https://fcnl-production.s3.amazonaws.com/image/79/sixteen_nine_medium.jpg?1474653273" alt="lobbyists" 
                />
                <h1>Lobbyists</h1>
                <p>Our professional lobbyists are known for their integrity and principled analysis.</p>
                <p class="card__link">
                <a href="!#">More about our work on the Hill <i class="fas fa-angle-right"></i></a>
                </p>
            </div><!--end div "card-lobbyists"-->
        </article>
        <article>
            <h3>Update Molecule</h3>
            <img
            srcset="../img/box--statement@2x.png 2x"
            src="../img/box--statement@2x.png"
            alt="update box" 
            />
            <ul class="box--update">
                <li><button class="button--seagreen">Statement</button></li>
                <li><h2><a href="!#">The People Have Spoken <i class="fa fa-angle-right" aria-hidden="true"></i></a></h2></li>
                <li><p>We, the people, have spoken. It is clear that Joe Biden, even with final votes still being counted, has won a majority of the popular vote and over 270 electoral votes, securing his election as our 46th president.</p></li>
                <li><p>By <a href="!#">Diane Randall</a></p>
                <p>Issues <a href="!#">Voting & Elections</a></p></li>
                <li>
                    <img
                    srcset="../img/diane_randall241x278@2x.png 2x"
                    src="../img/diane_randall241x278@2x.png"
                    alt="Diane Randall"
                    />
                </li>
            </ul><!--end box--update-->
        </article>
       </div><!--end molecules--small div-->
       <h2>Large Molecules</h2>
       <div class="molecules--large">
        <article class="banner--hero">
            <h3>Hero Banner Molecule</h3>
            <img
            srcset="../img/banner--hero@2x.png 2x"
            src="main/img/banner--hero@2x.png"
            alt="hero banner"
            />
                <ul class="hero__contents">
                    <li><h2>Count Every Vote</h2></li>
                    <li><p>We are in expectant waiting for the final results of the elections &mdash; results that could take many days. It is essential we count every vote and that we stay committed to a democracy that serves all its people.</p>
                    <button class="button--solidblue"> Learn More</button></li>
                    <li>
                        <h6>we are</h6>
                        <p>Quakers and friends changing public policy.</p>
                        <a href="!#">More about us&ensp;<i class="fas fa-angle-right"></i></a>
                    </li>
                </ul><!--end hero div-->
        </article>
        <article class="banner--events">
            <h3>Event Banner Molecule</h3>
            <img
            srcset="../img/banner--events@2x.png 2x"
            src="main/img/banner--events@2x.png"
            alt="hero banner"
            />
                <ul class="events__contents">
                    <li><h3>FCNL Events</h3>
                        <p>Join a community of friends in events around the country.</p>
                        <a>Find events near you<i class="fas fa-angle-right"></i></a>
                    </li>
                    <li><h4>Featured</h4></li>
                    <hr>
                    <li><<h3>After Election Day: Two Ways to Connect <i class="fas fa-angle-right"></i></h3>
                        <p>Online | November 4 & 5, 2020</p>
                    </li>
                    <li><<h3>Annual Meeting and Quaker Public Policy Institute<i class="fas fa-angle-right"></i></h3>
                        <p>Online | November 14-17, 2020</p>
                    </li>
                    <li><<h3>Thursdays with Friends<i class="fas fa-angle-right"></i></h3>
                        <p>Bi-weekly Virtual Conversation</p>
                    </li>
                </ul><!--end events list-->
        </article>
       </div><!--end molecules--large-->

</body>
</html>