<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Components | FCNL</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="../css/normalize.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a1e57ac401.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Web Components</h1>
    <h2>Typography Defaults</h2>
    <div class="typography">
        <article class="wordmark">
            <h3>Wordmark</h3>
            <img
            srcset="../img/wordmark@2x.png 2x"
            src="../img/wordmark@2x.png"
            alt="wordmark" 
            />
            <ul class="fcnl">
                <li><img src="https://images.app.goo.gl/d9UT5moYPzB2gJsEA" alt="logo" />
                </li>
                <li>Friends Committee</li>
                <li>On National Legislation</li>
            </ul>
        </article>
        <article class="hero__title">
            <h3>Hero Title</h3>
            <img
            srcset="../img/hero__title@2x.png 2x"
            src="../img/hero__title@2x.png"
            alt="hero title" 
            />
            <p>Count Every Vote</p>
        </article> <!--end hero title article-->
        <article class="hero__subtitle">
            <h3>Hero Subtitle</h3>
            <img
            srcset="../img/hero__subtitle@2x.png 2x"
            src="../img/hero__subtitle@2x.png"
            alt="hero subtitle" 
            />
            <p>Working for change today requires a ferocity and tenacity that colors the idea of love with the full range of its meanings. It is not passive, not necessarily nice or pretty. It is fierce.</p>
        </article> <!--end hero subtitle article-->
        <article class="body__text--large">
            <h3>Body Text - Large</h3>
            <img
            srcset="../img/body__text-var1@2x.png 2x"
            src="../img/body__text-var1@2x.png"
            alt="body text var1" 
            />
            <p>We, the people, have spoken. It is clear that Joe Biden, even with final votes still being counted, has won a majority of the popular vote and over 270 electoral votes, securing his election as our 46th president.</p>
        </article> <!--end body__text--large article-->
        <article class="body__text--small">
            <h3>Body Text - Small</h3>
            <img
            srcset="../img/body__text--small@2x.png 2x"
            src="../img/body__text--small@2x.png"
            alt="body text small" 
            />
            <p>Join us on Nov. 13 for the Annual Advocacy Teams Summit – this year held virtually! We will look at the incredible work we have accomplished together, build our community, and plan for an impactful 2021 after what is sure to be a consequential election year.</p>
        </article> <!--end body__text--small article-->
        <article class="text__links--featured">
            <h3>Featured Text Links</h3>
            <img
            srcset="../img/large-link2@2x.png 2x"
            src="../img/large-link2@2x.png"
            alt="large link" 
            />
            <p>various colors</p>
            <p><a href="!#">Thursdays with Friends <i class="fas fa-angle-right"></i></a></p>
        </article> <!--end text links article-->
    </div><!--end typography div-->
    <h2>Buttons</h2>
    <div class="buttons">
        <article>
            <h3>Outlined Button</h3>
            <img
            srcset="../img/button--news@2x.png 2x"
            src="../img/button--news@2x.png"
            alt="outlined button" />
            <button class="button--outlined">
            <p>All News</p>
            </button>
        </article>
        <article>
            <h3>Solid Blue Button</h3>
            <img
            srcset="../img/button--solidblue@2x.png 2x"
            src="../img/button--solidblue@2x.png"
            alt="blue button" />
            <button class="button--solidblue">
            <p>More</p>
            </button>
        </article>
        <article>
            <h3>Gradient Button</h3>
            <img
            srcset="../img/button--donate@2x.png 2x"
            src="../img/button--donate@2x.png"
            alt="gradient button" />
            <button class="button--gradient">
            <p>donate <i class="fas fa-arrow-right"></i></p>
            </button>
        </article>
        <article>
            <h3>Search Button</h3>
            <img
            srcset="../img/button--search@2x.png 2x"
            src="../img/button--search@2x.png"
            alt="gradient button" />
            <ul class="button--search">
                <li>search</li> 
                <li><i class="fa fa-search" aria-hidden="true"></i></li>
            </ul>
        </article>
    </div><!--end buttons div-->
    <h2>Molecules</h2>



</body>
</html>