<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>promo--shareable</title>
    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="css/promo1_jedit.css" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/a1e57ac401.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>FCNL Case Study</h1>
    <h2>Promo Organism</h2>
    <img src="./img/promo--shareable.png">
    <figure class="promo">
        <div class="promo__text">
       <p>Learn to Virtually Lobby in 30 Minutes
        | <a href="!#">Register Now &#62; </a></p>
        <button class="share">SHARE &emsp; <i class="fab fa-twitter"></i></button>
        </div>
    </figure>
</body>
</html>
